.sidebar {
  /* position: fixed; */
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100%;
  max-height: 100%;

  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);

  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111!important; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  /* transition: 1s; 0.5 second transition effect to slide in the sidenav */

}



#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: 0.5s;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}



#page-content-wrapper {
  min-width: 0;
  width: 100%;
}
